@use "/src/styles/mixins" as mx;

@include mx.make-rounded-corner-classes(button-radius, --border-radius);

.button {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;

  cursor: pointer;

  padding: var(--size-8);
  font-size: var(--font-size-md);
}

.primary {
  background-color: var(--color-green-500);
  color: var(--color-text-inverse);
}
