.input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-gray-300);
  padding-bottom: 1px;

  font-size: 1.5rem;

  &:focus {
    border-bottom-width: 2px;
    padding-bottom: 0;
  }

  &:hover {
    border-bottom-color: var(--color-gray-400);
  }
}